# vim: set ft=toml :

{{- $email := promptStringOnce . "email" "Email address" -}}

encryption = "gpg"
mode = "file" # file, symlink
progress = true

[data]
email = {{ $email | quote }}

[git]
autoAdd = true # Add changes to the source state after any change
autoCommit = false
autoPush = false

[gpg]
recipient = "KevinNitroG"

[cd]
command = "zsh"

[completion]
custom = true

[diff]
command = "delta"
args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
pager = "delta"

[merge]
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination {{ "}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
